
@{
    ViewData["Title"] = "AddAddress";
}

<div class="row">
    <form>
        <div class="row">
            <div class="col-md-6">
                <span class="text-danger" style="font-weight:bold; margin-right:3px;">*</span>
                <label>Adres Basligi :</label>
                <input type="text" class="form-control" required/>
            </div>
            <div class="col-md-6">

            </div>
        </div>
    </form>
</div>

