@using AddressBookEL.ViewModels;

@{
    ViewData["Title"] = "AddAddress";
}

<div class="row">
    <form>
        <div class="row">
            <div class="col-md-6">
                <span class="text-danger" style="font-weight:bold; margin-right:3px;">*</span>
                <label>Adres Basligi :</label>
                <input type="text" class="form-control" required/>
            </div>
            <div class="col-md-6">
                <span class="text-danger" style="font-weight:bold; margin-right:3px;">*</span>
                <label>Il :</label>
                <select id="cityselect" class="form-control">
                    <option value="0">***Il Seciniz***</option>
                    @foreach (var item in ViewBag.Cities as List<CityVM>)
                    {
                        <option value=@item.Id>@item.Name</option>
                    }

                </select>

            </div>
        </div>
    </form>
</div>

